{{- $defaultConfig := .Site.Data.config.default.widgets.recent_posts -}}
{{- $configData := ( or .Site.Data.config.widgets.recent_posts $defaultConfig ) -}}
{{- $lang := .Site.Language.Lang -}}
{{- $config := ( ( index $configData $lang ) | default $configData ) -}}

{{- $length := ( $config.length | default 5 ) -}}

<section class='widget widget-recent_posts sep-after'>
  <header>
	{{ range .Site.Params.assets.customCSS -}}
		<link rel="stylesheet" href="{{ . | absURL }}">
	{{- end }}
	<h6 id='recent_post_title'>
      {{- $config.title | default ( i18n "recentPosts" ) -}}
    </h6>
  </header>

<ul id='recent_post_ul'>
  {{ range ( first $length ( where .Site.RegularPages "Type" "not in" $config.excludeTypes ) ) }}
  <li id='recent_post_li'>
    {{ .Render "tile" }}
	</li>
  {{ end }}
</ul>

</section>
