{{ if .Site.Params.settings.showHistogram }}
<span class='byline'>
  {{- partial "svg/icon" "histogram" -}}  <span class='' id="text" >_</span>
  <!--{{ i18n "readingTime" .ReadingTime }}-->
</span>
<script>
/*
  let url_backend = "http://localhost:8888/access";

  async function callBackend() {
  
  const pageviews = localStorage.getItem(window.location.href);
  
  if(pageviews===undefined) {pageviews = 0;  } 

	const obj = {
	  uri:window.location.href,
	  prev_uri:window.document.referrer,
	  user_agent:window.navigator.userAgent,
	  language: window.navigator.language,
	  pageviews: pageviews
	}
	
	const req = JSON.stringify(obj);	
	fetchText(req);
  }

  async function fetchText(json) {	
	
	await fetch(url_backend, {
	  method: "POST",
	  headers: {
		"Content-Type": "application/json",
		"charset": "UTF-8",
	  },
	  body: json,
	}).then((response) => response.text())
	  .then((data) => {
		console.log(data);
		const stat = document.getElementById("text");
		
		const obj = JSON.parse(data);
		localStorage.setItem( obj.uri,obj.pageviews);
		stat.innerText = obj.pageviews;
		}
	  );
  }

  callBackend();
	*/
</script>

{{ end }}