#recent_post_ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #F8F9F9;
}

#recent_post_li {
  float: left;
  width:25%;
  font-size: 8px;
}

#recent_post_li a {
  display: block;
  color: black;
  text-align: left;
  padding: 0px 0px;
  text-decoration: none;
}

#recent_post_li a:hover {
  background-color: #EBF5FB ;
}

#recent_post_title {
  font-size: 12px;
}

@font-face {
 font-family: "Helvetica Neue"，"Arial",  "STHeiti Light ", "Microsoft YaHei", sans-serif;
}
body {
 font-family:  "Helvetica Neue", "Arial", "STHeiti Light", "Microsoft YaHei";
  font-size: .9em;
}
