
  <div class='meta' width="200" height="150" >
    {{ partial "list/date" . }}
  </div>
  <header class='item-header' >
    <h3 class='item-title'>
      <a href='{{ .Permalink | relURL }}'>
        {{- .Title -}}
      </a>
    </h3>
  </header>

