<!DOCTYPE html>
<html lang='en' dir='auto'><head>
  <meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<meta name='description' content='Minimo comes with several shortcodes built-in.
 Shortcode: center Center align you content.
center: Parameters  Markdown content between opening and closing tags.  center: Usage Example {{&lt; center &gt;}} _Center Aligned Text_ {{&lt; /center &gt;}} Output:
Center Aligned Text Shortcode: convo Renders conversation blocks.
convo: Parameters  sep [String] (optional): seperator between person and text (default: &ldquo;:&quot;)  convo: Inner Syntax person :: text You can remove the person part, if you want.'>
<meta name='theme-color' content='#ffcd00'>

<meta property='og:title' content='Shortcodes • Cho Jeonghak'>
<meta property='og:description' content='Minimo comes with several shortcodes built-in.
 Shortcode: center Center align you content.
center: Parameters  Markdown content between opening and closing tags.  center: Usage Example {{&lt; center &gt;}} _Center Aligned Text_ {{&lt; /center &gt;}} Output:
Center Aligned Text Shortcode: convo Renders conversation blocks.
convo: Parameters  sep [String] (optional): seperator between person and text (default: &ldquo;:&quot;)  convo: Inner Syntax person :: text You can remove the person part, if you want.'>
<meta property='og:url' content='https://manarc.gitlab.io/blog/docs/shortcodes/'>
<meta property='og:site_name' content='manarc'>
<meta property='og:type' content='article'><meta property='og:image' content='https://www.gravatar.com/avatar/1bc7caed7bc54b218a57be7b580ec758?s=256'><meta property='article:author' content='https://facebook.com/chojeonghak'><meta property='article:section' content='docs'><meta property='article:tag' content='shortcode'><meta property='article:published_time' content='2017-10-05T20:00:00&#43;06:00'/><meta property='article:modified_time' content='2020-10-06T02:00:00&#43;06:00'/><meta name='twitter:card' content='summary'><meta name='twitter:creator' content='@chojeonghak'>

<meta name="generator" content="Hugo 0.85.0" />

  <title>Shortcodes • Cho Jeonghak</title>
  <link rel='canonical' href='https://manarc.gitlab.io/blog/docs/shortcodes/'>
  
  
  <link rel='icon' href='/blog/favicon.ico'>
<link rel='stylesheet' href='/blog/assets/css/main.ab98e12b.css'><link rel='stylesheet' href='/blog/css/custom.css'><style>
:root{--color-accent:#ffcd00;}
</style>

  

</head>
<body class='page type-docs has-sidebar'>

  <div class='site'><div id='sidebar' class='sidebar'>
  <a class='screen-reader-text' href='#main-menu'>Skip to Main Menu</a>

  <div class='container'><section class='widget widget-about sep-after'>
  <header>
    
    <div class='logo'>
      <a href='/blog/'>
        <img src='/blog/images/logo.png'>
      </a>
    </div>
    
    <h2 class='title site-title '>
      <a href='/blog/'>
      맨아크
      </a>
    </h2>
    <div class='desc'>
    Manual Architecture
    </div>
  </header>

</section>
<section class='widget widget-sidebar_menu sep-after'><header>
    <h4 class='title widget-title'>메뉴</h4>
  </header><nav id='sidebar-menu' class='menu sidebar-menu' aria-label='Sidebar Menu'>
    <div class='container'>
      <ul><li class='item'>
  <a href='/blog/'>Home</a></li><li class='item has-children'>
  <a href='/blog/docs/'>Docs</a><button class='sub-menu-toggler'>
    <span class='screen-reader-text'>expand sub menu</span>
    <span class='sign'></span>
  </button>

  <ul class='sub-menu'><li class='item'>
  <a href='/blog/docs/widgets/'>Widgets</a></li></ul></li><li class='item'>
  <a href='/blog/about/'>About</a></li></ul>
    </div>
  </nav>

</section></div>

  <div class='sidebar-overlay'></div>
</div><div class='main'><nav id='main-menu' class='menu main-menu' aria-label='Main Menu'>
  <div class='container'>
    <a class='screen-reader-text' href='#content'>Skip to Content</a>

<button id='sidebar-toggler' class='sidebar-toggler' aria-controls='sidebar'>
  <span class='screen-reader-text'>Toggle Sidebar</span>
  <span class='open'><svg
  class="icon"
  xmlns="http://www.w3.org/2000/svg"
  viewbox="0 0 24 24"
  stroke-linecap="round"
  stroke-linejoin="round"
  stroke-width="2"
  aria-hidden="true"
><line x1="3" y1="12" x2="21" y2="12" />
<line x1="3" y1="6" x2="21" y2="6" />
<line x1="3" y1="18" x2="21" y2="18" />
</svg>
</span>
  <span class='close'><svg
  class="icon"
  xmlns="http://www.w3.org/2000/svg"
  viewbox="0 0 24 24"
  stroke-linecap="round"
  stroke-linejoin="round"
  stroke-width="2"
  aria-hidden="true"
><line x1="18" y1="6" x2="6" y2="18" />
<line x1="6" y1="6" x2="18" y2="18" />
</svg>
</span>
</button>
    <ul><li class='item'>
			<a href='/blog/'></a>
		  </li><li class='item'>
			<a href='/blog/docs/'>Docs</a>
		  </li><li class='item'>
			<a href='http://www.google.com'>Menus</a>
		  </li></ul>
  </div>
</nav><div class='header-widgets'>
        <div class='container'>
    
    <style>.widget-breadcrumbs li:after{content:'\2f '}</style>
  <section class='widget widget-breadcrumbs sep-after'>
    <nav id='breadcrumbs'>
      <ol><li><a href='/blog/'>Home</a></li><li><a href='/blog/docs/'>Docs</a></li><li><span>Shortcodes</span></li></ol>
    </nav>
  </section></div>
      </div>
      <header id='header' class='header site-header'>
        <div class='container sep-after'>
          <div class='header-info'><p class='site-title title'>manarc</p>
          </div>
        </div>
      </header>
      <main id='content'>

<article lang='en' class='entry'>
  <header class='header entry-header'>
  <div class='container sep-after'>
    <div class='header-info'>
      <h1 class='title'>Shortcodes</h1>
      

    </div>
    <div class='entry-meta'>
  <span class='posted-on'><svg
  class="icon"
  xmlns="http://www.w3.org/2000/svg"
  viewbox="0 0 24 24"
  stroke-linecap="round"
  stroke-linejoin="round"
  stroke-width="2"
  aria-hidden="true"
><rect x="3" y="4" width="18" height="18" rx="2" ry="2" />
<line x1="16" y1="2" x2="16" y2="6" />
<line x1="8" y1="2" x2="8" y2="6" />
<line x1="3" y1="10" x2="21" y2="10" />
</svg>
<span class='screen-reader-text'>Posted on </span>
  <time class='entry-date' datetime='2017-10-05T20:00:00&#43;06:00'>2017, Oct 05</time>
</span>

  <span class='byline'><svg
  class="icon"
  xmlns="http://www.w3.org/2000/svg"
  viewbox="0 0 24 24"
  stroke-linecap="round"
  stroke-linejoin="round"
  stroke-width="2"
  aria-hidden="true"
><path d="M21,21V20c0-2.76-4-5-9-5s-9,2.24-9,5v1" />
<path d="M16,6.37A4,4,0,1,1,12.63,3,4,4,0,0,1,16,6.37Z" />
</svg>
<span class='screen-reader-text'> by </span><a href='/blog/authors/chojeonghak'>Cho Jeonghak</a></span>
  
<span class='reading-time'><svg
  class="icon"
  xmlns="http://www.w3.org/2000/svg"
  viewbox="0 0 24 24"
  stroke-linecap="round"
  stroke-linejoin="round"
  stroke-width="2"
  aria-hidden="true"
><circle cx="12" cy="12" r="10" />
<polyline points="12 6 12 12 15 15" />
</svg>
3 mins read
</span>


</div>


  </div>
</header>

  
  
<details class='container entry-toc'>
  <summary class='title'>
    <span>Table of Contents</span>
  </summary>
  <nav id="TableOfContents">
  <ul>
    <li><a href="#shortcode-center">Shortcode: center</a>
      <ul>
        <li><a href="#center-parameters">center: Parameters</a></li>
        <li><a href="#center-usage-example">center: Usage Example</a></li>
      </ul>
    </li>
    <li><a href="#shortcode-convo">Shortcode: convo</a>
      <ul>
        <li><a href="#convo-parameters">convo: Parameters</a></li>
        <li><a href="#convo-inner-syntax">convo: Inner Syntax</a></li>
        <li><a href="#convo-usage-example">convo: Usage Example</a></li>
      </ul>
    </li>
    <li><a href="#shortcode-file">Shortcode: file</a>
      <ul>
        <li><a href="#file-parameters">file: Parameters</a></li>
        <li><a href="#file-usage-example">file: Usage Example</a></li>
      </ul>
    </li>
    <li><a href="#shortcode-katex">Shortcode: katex</a>
      <ul>
        <li><a href="#katex-parameters">katex: Parameters</a></li>
        <li><a href="#katex-usage-example">katex: Usage Example</a></li>
      </ul>
    </li>
    <li><a href="#shortcode-text">Shortcode: text</a>
      <ul>
        <li><a href="#text-parameters">text: Parameters</a></li>
        <li><a href="#text-usage-example">text: Usage Example</a></li>
      </ul>
    </li>
    <li><a href="#shortcode-slideshare">Shortcode: slideshare</a>
      <ul>
        <li><a href="#slideshare-parameters">slideshare: Parameters</a></li>
        <li><a href="#slideshare-usage-example">slideshare: Usage Example</a></li>
      </ul>
    </li>
  </ul>
</nav>
</details>


  <div class='container entry-content'>
  <p>Minimo comes with several shortcodes built-in.</p>
<hr>
<h2 id="shortcode-center">Shortcode: center</h2>
<p>Center align you content.</p>
<h3 id="center-parameters">center: Parameters</h3>
<ul>
<li>Markdown content between opening and closing tags.</li>
</ul>
<h3 id="center-usage-example">center: Usage Example</h3>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-golang" data-lang="golang">{{&lt; <span style="color:#a6e22e">center</span> &gt;}}
<span style="color:#a6e22e">_Center</span> <span style="color:#a6e22e">Aligned</span> <span style="color:#a6e22e">Text_</span>
{{&lt; <span style="color:#f92672">/</span><span style="color:#a6e22e">center</span> &gt;}}
</code></pre></div><p><strong>Output</strong>:</p>
<div class='align-center'>
  <em>Center Aligned Text</em>
</div>

<hr>
<h2 id="shortcode-convo">Shortcode: convo</h2>
<p>Renders conversation blocks.</p>
<h3 id="convo-parameters">convo: Parameters</h3>
<ul>
<li><code>sep</code>  [<code>String</code>] (optional): seperator between person and text (default: &ldquo;<code>:</code>&quot;)</li>
</ul>
<h3 id="convo-inner-syntax">convo: Inner Syntax</h3>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-golang" data-lang="golang"><span style="color:#a6e22e">person</span> :: <span style="color:#a6e22e">text</span>
</code></pre></div><p><em>You can remove the <strong><code>person</code></strong> part, if you want.</em></p>
<h3 id="convo-usage-example">convo: Usage Example</h3>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-golang" data-lang="golang">{{&lt; <span style="color:#a6e22e">convo</span> <span style="color:#a6e22e">sep</span>=<span style="color:#e6db74">&#34;:&#34;</span> &gt;}}

<span style="color:#a6e22e">Jerry</span> :: <span style="color:#a6e22e">You</span> <span style="color:#a6e22e">don</span><span style="color:#960050;background-color:#1e0010">&#39;</span><span style="color:#a6e22e">t</span> <span style="color:#a6e22e">look</span> <span style="color:#a6e22e">so</span> <span style="color:#a6e22e">tough</span>.

<span style="color:#a6e22e">Finch</span> :: <span style="color:#a6e22e">It</span><span style="color:#960050;background-color:#1e0010">&#39;</span><span style="color:#a6e22e">s</span> <span style="color:#a6e22e">because</span> <span style="color:#a6e22e">I</span> <span style="color:#a6e22e">have</span> <span style="color:#a6e22e">only</span> <span style="color:#a6e22e">two</span> <span style="color:#a6e22e">modes</span>, <span style="color:#a6e22e">Jerry</span>. <span style="color:#a6e22e">Calm</span>, <span style="color:#a6e22e">and</span> <span style="color:#a6e22e">furious</span>. <span style="color:#a6e22e">It</span><span style="color:#960050;background-color:#1e0010">&#39;</span><span style="color:#a6e22e">s</span> <span style="color:#a6e22e">a</span> <span style="color:#a6e22e">rare</span> <span style="color:#a6e22e">person</span> <span style="color:#a6e22e">that</span> <span style="color:#a6e22e">sees</span> <span style="color:#a6e22e">the</span> <span style="color:#a6e22e">latter</span> <span style="color:#a6e22e">and</span> <span style="color:#a6e22e">lives</span> <span style="color:#a6e22e">to</span> <span style="color:#a6e22e">talk</span> <span style="color:#a6e22e">about</span> <span style="color:#a6e22e">it</span>.

{{&lt; <span style="color:#f92672">/</span><span style="color:#a6e22e">convo</span> &gt;}}
</code></pre></div><p><strong>Output</strong>:</p>
<div class='convo'>
  <ol>
    
      
    
      
    
      
      <li>
        
          
            
              <div class='person'>Jerry</div>
            
          
        
          
            
              <div class='sep'> : </div>
              <div class='text'>You don&rsquo;t look so tough.</div>
            
          
        
      </li>
      
    
      
    
      
      <li>
        
          
            
              <div class='person'>Finch</div>
            
          
        
          
            
              <div class='sep'> : </div>
              <div class='text'>It&rsquo;s because I have only two modes, Jerry. Calm, and furious. It&rsquo;s a rare person that sees the latter and lives to talk about it.</div>
            
          
        
      </li>
      
    
      
    
      
    
  </ol>
</div>

<hr>
<h2 id="shortcode-file">Shortcode: file</h2>
<p>Include content from seperate file with syntax highlighting.</p>
<h3 id="file-parameters">file: Parameters</h3>
<p>0 =&gt; filename [<code>String</code>] (required)<br>
1 =&gt; filetype [<code>String</code>] (optional)</p>
<h3 id="file-usage-example">file: Usage Example</h3>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-golang" data-lang="golang">{{&lt; <span style="color:#a6e22e">file</span> <span style="color:#e6db74">&#34;content/_index.md&#34;</span> &gt;}}
</code></pre></div><p><strong>Output</strong>:</p>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-md" data-lang="md">---
title: Home
menu:
  <span style="color:#66d9ef">-</span> main
  <span style="color:#66d9ef">-</span> sidebar
weight: -270
cover:
  image: /blog/images/overall-architecture.png
  caption: Manual Architecture [<span style="color:#f92672">Cho Jeonghak</span>](<span style="color:#a6e22e">https://</span>) 
  style: full;
draft: false
---

<span style="color:#75715e">## 소프트웨어 아키텍처 그리기
</span><span style="color:#75715e"></span>
<span style="font-weight:bold">**YML example:**</span>

```json
{
  &#34;library&#34;: {
    &#34;js&#34;: {
      &#34;main&#34;: &#34;//unpkg.com/katex/dist/katex.min.js&#34;,
      &#34;autoRender&#34;: &#34;//unpkg.com/katex/dist/contrib/auto-render.min.js&#34;
    },
    &#34;css&#34;: {
      &#34;main&#34;: &#34;//unpkg.com/katex/dist/katex.min.css&#34;
    }
  },
  &#34;options&#34;: {}
}
</code></pre></div><p><strong>Output:</strong></p>
<pre><code></code></pre>
<hr>
<h2 id="shortcode-katex">Shortcode: katex</h2>
<p>Renders KaTeX.</p>
<h3 id="katex-parameters">katex: Parameters</h3>
<p>0 =&gt; mode [<code>String</code>] (optional): inline / block</p>
<h3 id="katex-usage-example">katex: Usage Example</h3>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-golang" data-lang="golang"><span style="color:#a6e22e">Inline</span>: {{&lt; <span style="color:#a6e22e">katex</span> <span style="color:#a6e22e">inline</span> &gt;}} <span style="color:#a6e22e">ax</span>^<span style="color:#ae81ff">2</span> <span style="color:#f92672">+</span> <span style="color:#a6e22e">bx</span> <span style="color:#f92672">+</span> <span style="color:#a6e22e">c</span> = <span style="color:#ae81ff">0</span> {{&lt; <span style="color:#f92672">/</span><span style="color:#a6e22e">katex</span> &gt;}}

<span style="color:#a6e22e">Block</span>:
{{&lt; <span style="color:#a6e22e">katex</span> &gt;}}
<span style="color:#a6e22e">x</span> = {<span style="color:#f92672">-</span><span style="color:#a6e22e">b</span> <span style="color:#960050;background-color:#1e0010">\</span><span style="color:#a6e22e">pm</span> <span style="color:#960050;background-color:#1e0010">\</span><span style="color:#a6e22e">sqrt</span>{<span style="color:#a6e22e">b</span>^<span style="color:#ae81ff">2</span><span style="color:#f92672">-</span><span style="color:#ae81ff">4</span><span style="color:#a6e22e">ac</span>} <span style="color:#960050;background-color:#1e0010">\</span><span style="color:#a6e22e">over</span> <span style="color:#ae81ff">2</span><span style="color:#a6e22e">a</span>}
{{&lt; <span style="color:#f92672">/</span><span style="color:#a6e22e">katex</span> &gt;}}
</code></pre></div><p><strong>Output</strong>:</p>
<p>Inline: \(
 ax^2 + bx + c = 0 \)</p>
<p>Block:
\[

x = {-b \pm \sqrt{b^2-4ac} \over 2a}
\]</p>
<hr>
<h2 id="shortcode-text">Shortcode: text</h2>
<p>Text with custom size and color</p>
<h3 id="text-parameters">text: Parameters</h3>
<p>You can use either Named or Unnamed Parameters</p>
<p><strong>Named Parameters</strong>:</p>
<ul>
<li><code>s</code> or <code>size</code>  [<code>String</code>] (optional): multiplier relative to the normal size</li>
<li><code>c</code> or <code>color</code> [<code>String</code>] (optional): name / hex / rgb / rgba</li>
</ul>
<p><strong>Unnamed Parameters</strong>:</p>
<p>0 =&gt; textsize [<code>String</code>] (required): multiplier relative to the normal size<br>
1 =&gt; textcolor [<code>String</code>] (optional): name / hex / rgb / rgba</p>
<h3 id="text-usage-example">text: Usage Example</h3>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-golang" data-lang="golang">{{&lt; <span style="color:#a6e22e">text</span> <span style="color:#a6e22e">s</span>=<span style="color:#e6db74">&#34;1.4&#34;</span> <span style="color:#a6e22e">color</span>=<span style="color:#e6db74">&#34;purple&#34;</span> &gt;}}
<span style="color:#a6e22e">font</span><span style="color:#f92672">-</span><span style="color:#a6e22e">size</span>: <span style="color:#ae81ff">1.4</span><span style="color:#a6e22e">em</span>;
<span style="color:#a6e22e">color</span>: <span style="color:#a6e22e">purple</span>;
{{&lt; <span style="color:#f92672">/</span><span style="color:#a6e22e">text</span> &gt;}}
</code></pre></div><p><strong>Output</strong>:</p>
<div class='text-shortcode' style='font-size:1.4em;color:purple;'>font-size: 1.5em;<br>
color: purple;</div>

<h2 id="shortcode-slideshare">Shortcode: slideshare</h2>
<p>As default Hugo&rsquo;s shortcodes for Twitter, Instagram, Vimeo, Youtube you can embed <a href="https://www.slideshare.net/">SlideShare</a> presentation/document into your page.</p>
<h3 id="slideshare-parameters">slideshare: Parameters</h3>
<p><strong>Named Parameters</strong>:</p>
<ul>
<li><code>id</code> [<code>String</code>] (required): <code>id</code> of SlideShare you want to embed. You can find it in
SlideShare URL or click &ldquo;Share&rdquo; -&gt; See <code>id</code> field in &ldquo;WordPress Shortcode&rdquo; section.</li>
</ul>
<h3 id="slideshare-usage-example">slideshare: Usage Example</h3>
<div class="highlight"><pre style="color:#f8f8f2;background-color:#272822;-moz-tab-size:4;-o-tab-size:4;tab-size:4"><code class="language-golang" data-lang="golang">{{&lt; <span style="color:#a6e22e">slideshare</span> <span style="color:#ae81ff">237760779</span> &gt;}}
</code></pre></div><p><strong>Output</strong>:</p>
<iframe
  style='width: 100%; height: 500px;'
  frameborder='0' marginwidth='0' marginheight='0' scrolling='no'
  src='https://www.slideshare.net/slideshow/embed_code/237760779?rel=0'
  allowfullscreen webkitallowfullscreen mozallowfullscreen>
</iframe>
<br/>


</div>

  
<footer class='entry-footer'>
  <div class='container sep-before'><div class='last-updated'><svg
  class="icon"
  xmlns="http://www.w3.org/2000/svg"
  viewbox="0 0 24 24"
  stroke-linecap="round"
  stroke-linejoin="round"
  stroke-width="2"
  aria-hidden="true"
><path d="M20 14.66V20a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V6a2 2 0 0 1 2-2h5.34" />
<polygon points="18 2 22 6 12 16 8 16 8 12 18 2" />
</svg>
<span class='screen-reader-text'>Last updated: </span>
      <time class='entry-date' datetime='2020-10-06T02:00:00&#43;06:00'>2020, Oct 06</time>
    </div><div class='categories'><svg
  class="icon"
  xmlns="http://www.w3.org/2000/svg"
  viewbox="0 0 24 24"
  stroke-linecap="round"
  stroke-linejoin="round"
  stroke-width="2"
  aria-hidden="true"
><path d="M22,19a2,2,0,0,1-2,2H4a2,2,0,0,1-2-2V5A2,2,0,0,1,4,3H9l2,3h9a2,2,0,0,1,2,2Z" />
</svg>
<span class='screen-reader-text'>Categories: </span><a class='category' href='/blog/categories/features/'>features</a></div>
<div class='tags'><svg
  class="icon"
  xmlns="http://www.w3.org/2000/svg"
  viewbox="0 0 24 24"
  stroke-linecap="round"
  stroke-linejoin="round"
  stroke-width="2"
  aria-hidden="true"
><path d="M20.59,13.41l-7.17,7.17a2,2,0,0,1-2.83,0L2,12V2H12l8.59,8.59A2,2,0,0,1,20.59,13.41Z" />
<line x1="7" y1="7" x2="7" y2="7" />
</svg>
<span class='screen-reader-text'>Tags: </span><a class='tag' href='/blog/tags/shortcode/'>shortcode</a></div>

  </div>
</footer>


</article>

<nav class='entry-nav'>
  <div class='container'><div class='prev-entry sep-before'>
      <a href='/blog/docs/cover-image/'>
        <span aria-hidden='true'><svg
  class="icon"
  xmlns="http://www.w3.org/2000/svg"
  viewbox="0 0 24 24"
  stroke-linecap="round"
  stroke-linejoin="round"
  stroke-width="2"
  aria-hidden="true"
><line x1="20" y1="12" x2="4" y2="12" />
<polyline points="10 18 4 12 10 6" />
</svg>
 Previous</span>
        <span class='screen-reader-text'>Previous post: </span>Cover Image</a>
    </div><div class='next-entry sep-before'>
      <a href='/blog/docs/widgets/'>
        <span class='screen-reader-text'>Next post: </span>Widgets<span aria-hidden='true'>Next <svg
  class="icon"
  xmlns="http://www.w3.org/2000/svg"
  viewbox="0 0 24 24"
  stroke-linecap="round"
  stroke-linejoin="round"
  stroke-width="2"
  aria-hidden="true"
><line x1="4" y1="12" x2="20" y2="12" />
<polyline points="14 6 20 12 14 18" />
</svg>
</span>
      </a>
    </div></div>
</nav>


<section id='comments' class='comments'>
  <div class='container sep-before'>
    <div class='comments-area'><script src='https://utteranc.es/client.js'
  repo='yardcrane/comments'
  issue-term='pathname'
  
  theme='github-light'
  crossorigin='anonymous' async>
</script>
</div>
  </div>
</section>
      </main>
      <footer id='footer' class='footer'>
        <div class='container sep-before'><section class='widget widget-social_menu sep-after'><nav aria-label='Social Menu'>
    <ul><li>
        <a href='https://github.com/.' target='_blank' rel='noopener me'>
          <span class='screen-reader-text'>Open Github account in new tab</span><svg
  class="icon"
  xmlns="http://www.w3.org/2000/svg"
  viewbox="0 0 24 24"
  stroke-linecap="round"
  stroke-linejoin="round"
  stroke-width="2"
  aria-hidden="true"
><path d="M9 19c-5 1.5-5-2.5-7-3m14 6v-3.87a3.37 3.37 0 0 0-.94-2.61c3.14-.35 6.44-1.54 6.44-7A5.44 5.44 0 0 0 20 4.77 5.07 5.07 0 0 0 19.91 1S18.73.65 16 2.48a13.38 13.38 0 0 0-7 0C6.27.65 5.09 1 5.09 1A5.07 5.07 0 0 0 5 4.77a5.44 5.44 0 0 0-1.5 3.78c0 5.42 3.3 6.61 6.44 7A3.37 3.37 0 0 0 9 18.13V22" />
</svg>
</a>
      </li><li>
        <a href='mailto:contact@example.com' target='_blank' rel='noopener me'>
          <span class='screen-reader-text'>Contact via Email</span><svg
  class="icon"
  xmlns="http://www.w3.org/2000/svg"
  viewbox="0 0 24 24"
  stroke-linecap="round"
  stroke-linejoin="round"
  stroke-width="2"
  aria-hidden="true"
><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z" />
<polyline points="22,6 12,13 2,6" />
</svg>
</a>
      </li><li>
        <a href='https://gitlab.com/.' target='_blank' rel='noopener me'>
          <span class='screen-reader-text'>Open Gitlab account in new tab</span><svg
  class="icon"
  xmlns="http://www.w3.org/2000/svg"
  viewbox="0 0 24 24"
  stroke-linecap="round"
  stroke-linejoin="round"
  stroke-width="2"
  aria-hidden="true"
><path d="M22.65 14.39L12 22.13 1.35 14.39a.84.84 0 0 1-.3-.94l1.22-3.78 2.44-7.51A.42.42 0 0 1 4.82 2a.43.43 0 0 1 .58 0 .42.42 0 0 1 .11.18l2.44 7.49h8.1l2.44-7.51A.42.42 0 0 1 18.6 2a.43.43 0 0 1 .58 0 .42.42 0 0 1 .11.18l2.44 7.51L23 13.45a.84.84 0 0 1-.35.94z" />
</svg>
</a>
      </li><li>
        <a href='https://linkedin.com/in/.' target='_blank' rel='noopener me'>
          <span class='screen-reader-text'>Open Linkedin account in new tab</span><svg
  class="icon"
  xmlns="http://www.w3.org/2000/svg"
  viewbox="0 0 24 24"
  stroke-linecap="round"
  stroke-linejoin="round"
  stroke-width="2"
  aria-hidden="true"
><path d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z" />
<rect x="2" y="9" width="4" height="12" />
<circle cx="4" cy="4" r="2" />
</svg>
</a>
      </li></ul>
  </nav>
</section><div class='copyright'>
  <p> &copy; 2021 manarc </p>
</div>

        </div>
      </footer>

    </div>
  </div><script>window.__assets_js_src="/blog/assets/js/"</script>

<script src='/blog/assets/js/main.c3bcf2df.js'></script><script src='/blog/js/custom.js'></script><link rel='stylesheet' href='//unpkg.com/katex/dist/katex.min.css'>
<script src='//unpkg.com/katex/dist/katex.min.js'></script>
<script src='//unpkg.com/katex/dist/contrib/auto-render.min.js'></script>

<script type='text/javascript'>
  renderMathInElement(document.querySelector('.entry-content'),{});
</script>

</body>

</html>

