{{- if not .Site.Params.settings.hideMainMenu -}}
<nav id='main-menu' class='menu main-menu' aria-label='{{ i18n "mainMenu" }}'>
  <div class='container'>
    {{ partial "sidebar/toggler" . }}
    <ul>
    {{- range .Site.Menus.main -}}
      {{- $isCurrent := ( or ( $.IsMenuCurrent "main" . ) ( $.HasMenuCurrent "main" . ) ) -}}
		  
		  <li class='item {{- if $isCurrent }} current {{- end -}}'>
			<a {{ if $isCurrent -}} aria-current='page' {{ end -}} href='{{ .URL }}'>
			  {{- with .Pre -}}{{- . -}}{{- end -}}
				  {{- if ne .Name "Home" -}}
					{{- .Name -}}
				  {{- end -}}
			  {{- with .Post -}}{{- . -}}{{- end -}}
			</a>
		  </li>
		  
    {{- end -}}
    </ul>
  </div>
</nav>
{{- else -}}
{{ partial "sidebar/toggler" . }}
{{- end -}}
