<header class='header entry-header'>
  <div class='container sep-after'>
    <div class='header-info'>
	<!--
      <h1 class='title'>
        {{- .Title -}}
      </h1>
	  -->
      {{ partial "header/description" . }}
    </div>
    {{ partial "entry/meta" . }}
  </div>
</header>
